body {
    font-family: sans-serif;
}

.main {
    display:grid;
    margin: 16px auto;
    max-width: 80%;
}

header {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
}

.banner {
    grid-column: span 12;
}

.linkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 2;
    align-items: center;
}

.linkbox img {
    max-height: 64px;
}
.linkbox a {
    text-decoration: 0;
}

header h1 {
    font-weight: 400;
    margin: 8px;
}

header h6 {
    font-size: 16pt;
    margin: 8px;
    font-weight: 100;
}