html {
    font-family: sans-serif;
}

div#main {
    margin:auto;
    width: 50%;
    background-color: rgb(252, 247, 241);
    padding: 5px 20px 20px 20px;
}

div#output {
    margin-left: 5px;
    display: inline-block;
}

button {
    border: none;
    padding: 5px 10px 5px 10px;
    color:white;
    background-color: darkgreen;
}

button:hover {
    background-color: pink;
    color: black;
}