@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --DARK-BLUE: #547c99;
  --BRIGHT-BLUE: #48cbff;
  --LIGHT-BLUE: #c8efff;
  --DARK-GREY: #171717;
  --LIGHT-GREY: #d4d4d8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--DARK-GREY);
  color: var(--LIGHT-GREY);
}

.subhead {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #ffffff;
}

h1, h2, h3 {
  color: var(--LIGHT-BLUE);
  font-weight: 700;
}

a {
  color: var(--BRIGHT-BLUE);
}

a:hover {
  color: var(--LIGHT-BLUE);
}

.hero-button {
  border: 2px solid var(--LIGHT-BLUE);
  border-radius: .5rem;
}

.hero-button:hover {
  border-color: var(--BRIGHT-BLUE);
  background-color: var(--BRIGHT-BLUE);
  color: var(--DARK-GREY);
}

.project-cover {
  border: 2px solid var(--DARK-BLUE);
  border-radius: .5rem;
}

.totop {
  position: fixed;
  bottom: 0;
  right: 5rem;
  padding: 1rem 2rem;
  background-color: var(--LIGHT-BLUE);
  z-index: 1;
  color: var(--DARK-GREY);
  border-radius: .5rem .5rem 0 0;
}

.totop:hover {
  background-color: var(--BRIGHT-BLUE);
}

@media screen and (max-width: 768px) {
  .hero-button {
    padding: .5rem 3rem;
  }
  .totop {
    right: 2.5rem;
  }
}